/* Base styles, typography, etc. */

body {
    font-family: 'Quicksand', sans-serif;
    background-image: url('../images/space-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FFDAB9;  /* Light Peach */
}

/* Dark mode styles */

body.dark-mode {
    background-color: rgba(0, 0, 0, 0.6);
    color: #f2f2f2;  /* Soft white for dark mode */
}

body.dark-mode .navbar-dark .navbar-nav .nav-link {
    color: #eee;
}

body.dark-mode .navbar, body.dark-mode .navbar-brand, body.dark-mode .navbar-toggler {
    background-color: #444 !important;
}

body.dark-mode .btn-light {
    background-color: #fff;
    color: #333;
}

body.dark-mode .about-section, body.dark-mode .education-projects-section, body.dark-mode .experience-section, body.dark-mode .skills-section, body.dark-mode .contact-section {
    background-color: #444;
    color: #eee;
}

body.dark-mode a {
    color: #bbb;
}



/* About, Experience, Education & Projects, Skills, Contact sections */

.about-section, 
.welcome-section,
.experience-section, 
.education-section, 
.projects-section,
.skills-section,
.interests-section,
.contact-section {
    background-color: rgba(10, 24, 61, 0.85);
    position: relative;
}

#welcome h1, #welcome h2 {   /* Adjust this depending on which header level you used */
    font-size: 36px;  /* Adjust this value to your preference */
}
#welcome {
    text-align: center;        /* Horizontally center the text */
    display: flex;             /* Enable flexbox for this container */
    align-items: center;       /* Vertically center content */
    justify-content: center;   /* Horizontally center content (if needed) */
    flex-direction: column;    /* Stack content vertically */
    height: 100vh;  
    font-size: 1.25vw;           
}

.profile-pic {
    width: 10vw;  
    height: 10vw;
    border-radius: 50%;
}

.about-header-wrapper {
    display: flex;
    flex-direction: column;  /* Stack children vertically */
    align-items: left;     /* Center the items horizontally */
    gap: 10px;               /* Add some vertical space between the image and the header */
}




/* Navbar adjustments */

.navbar-nav {
    margin: 0 auto; /* Center aligning the navbar items */
}

.navbar-dark .navbar-nav .nav-link {
    color: #20B2AA;  /* Teal */
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FF6347;  /* Coral */
    transform: scale(1.1);
    transition: transform 0.3s;
}


.banner {
    height: 300px;
}

.left-navigation {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;  /* Take up the full viewport height */
    width: 200px;
    background-color: rgba(10, 24, 61, 0.85);
    overflow-y: auto;  /* Add a scrollbar if the content exceeds the height */
    z-index: 1000;  /* Make sure the nav is always on top */
}
main {
    margin-left: 200px;  /* Width of the navigation (200px) + a little extra space (10px) */
    /*padding: 20px;  /* Optional: for some space around the content */
}

.left-navigation ul {
    list-style-type: none;
    padding: 0;
}

.left-navigation li {
    font-size: 18px;  /* Increase the font size as per your preference */
    padding: 15px;    /* Adjust padding to increase space between items */
    cursor: pointer;
}

.left-navigation a {
    text-decoration: none;  /* Remove underline from links */
    color: inherit;         /* Use the color of the parent (li) */
}

.left-navigation li.active {
    background-color: #333;
}

.code-format {
    font-family: 'Courier New', monospace;
    background-color: #1e1e1ed3;  /* Dark gray, like VSCode's default dark theme */
    color: #46ff77df;  /* Light gray font color */
    padding: 10px 15px;
    border-radius: 3px;  /* Optional: to give rounded corners */
    border: 1px solid #333;  /* Subtle border */
    overflow-x: auto;  /* In case the code exceeds the container width, this will allow for horizontal scrolling */
    white-space: pre;  /* This will respect whitespace and line breaks */
}


footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: rgba(10, 24, 61, 0.85);
}

footer img {
    width: 24px;  /* Adjust this value to your preference */
    height: 24px; /* This ensures the images maintain their aspect ratio */
    border-radius: 50%; 
}


.copy-icon {
    cursor: pointer;
}

#clipboard-message {
    position: fixed;
    bottom: 10%;
    left: 55vw;
    transform: translateX(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
    display: none;
}


/* General link adjustments */

a {
    color: #20B2AA;  /* Teal */
}

a:hover {
    color: #FF6347;  /* Coral */
    text-decoration: none;
}

/* Contact section adjustments */

.contact-form:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}


/* Project Card Styles */
.cards-container {
    display: flex;
    flex-wrap: wrap; /* This will allow cards to wrap to the next line */
    justify-content: space-between; /* Distributes cards evenly */
    position: relative;
}

.project-card {
    
    font-size: 1.125vw;
    width: calc(50% - 1vw);  /* Take up half the width, minus a bit for margins */
    flex: 0 1 calc(33.33% - 20px); /* Flex basis set to slightly less than one-third, considering margins */
    margin: 1.5vw; /* Adding some margin between cards */
    position: relative;
    perspective: 1000px;
    z-index: 1000;
    min-height: 20vw;
    overflow: hidden;
    /*max-width: calc(33.33% - 20px); /* Slightly less than one-third of the container's width, accounting for any potential margins or paddings */
    /*margin: 10px; /* Adding some margin between cards */
    /*width: 100%; /* Set a width to the card */
    /*max-width: 400px; /* Maximum width can be adjusted as per design needs */
    /*margin: 20px auto; /* Centering the card and adding vertical margin */
}

.project-card::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
}


.project-card-container:hover {
    z-index: 1000;
}

#project-card-1 {
    margin-bottom: 300px; /* Adjust this value as needed */
}

.card-inner {
    position: relative;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
    min-height: 200px; /* Setting a minimum height to ensure cards have consistent height */
}

.card-front {
    font-size: 1vw;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    color: #56b887;
    background: rgba(82, 7, 147, 0.593); /* Similar background to other sections */
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-back {
    overflow-y:scroll;
    transform: rotateY(180deg);
    font-size: 1.125vw;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    color: #56b887;
    background: rgba(82, 7, 147, 0.593); /* Similar background to other sections */
    padding: 20px;
    border-radius: 5px;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer */
}

.card-back {
    overflow-y: scroll !important;  /* Force vertical scrolling */
    height: 100%;                   /* Ensure it takes up full height of the card */
    position: relative;             /* Establish a positioning context */
}


/* Hide scrollbar for the back of the card across various browsers */
.card-back::-webkit-scrollbar {
    display: none;  /* Webkit browsers */
}
.card-back {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer */
}

.project-card.flipped {
    z-index: 2;
}

/* Mobile devices */
@media screen and (max-width: 600px) {
    .card-front {
        font-size: 0.9vw;
        
    }
    .card-back {
        font-size: 1.12vw;  /* Decrease this value to make the font size smaller */
        padding: 15px;     /* Adjust padding to make content more compact */
        /* Add any other style adjustments here */
    }
    
}

/* Tablets and small laptops */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .card-front {
        font-size: 1.25vw;
    }
    .card-back {
        font-size: 1.25vw;  /* Decrease this value to make the font size smaller */
        padding: 15px;     /* Adjust padding to make content more compact */
        /* Add any other style adjustments here */
    }
    
}


/* Large laptops and desktops */
@media screen and (min-width: 1025px) {
    .card-front {
        font-size: 1.5vw;
    }
    .card-back {
        font-size: 1.5vw;  /* Decrease this value to make the font size smaller */
        padding: 15px;     /* Adjust padding to make content more compact */
        /* Add any other style adjustments here */
    }
    
}

